<%= sidebar do |menu| %>
  <%= menu.element("Retour à la liste", Icons::WHITE_ARROW_LEFT.html_safe, :admin_generations_path) %>
<% end %>
<h2>Nouvelle Génération</h2>
<%= render partial: "admin/generations/form" %>