@import "bootstrap";
@import "variable";
@import "table";
@import "navbar";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-content{
  margin-top: $nav-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
}

.main-width{
  width: calc(100vw - $sidebar-width - 20px) !important;
  margin-left: $sidebar-width;
}

#sidebar{
  width: $sidebar-width;
  background-color: $red;
  position: fixed;
  top: $nav-height;
  height: calc(100vh - $nav-height);
  left: 0
}

ul{
  list-style: none;
  padding-left: 10px;
}

.side-icon{
  margin-bottom: 15px;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 20px;
}

#announces{
  width: 60%;
  border: $red 2px solid;
  border-radius: 5px;
  padding: 5px;
}

#announces h2{
  text-align: center;
}

#indexes{
  margin-top: 20px;
}

#home-nav {
  width : 50%;
  display: flex; /* Alignement horizontal des liens */
  justify-content: space-around; /* Espacement entre les liens */
  padding: 10px; /* Espacement entre les bords et les liens */
}

#home-nav a {
  text-decoration: none; /* Optionnel : supprime le soulignement des liens */
  color: black;
  margin: 0 10px; /* Espacement entre les liens */
}

.home-logo {
  width: auto; /* Garde le ratio de l'image */
  height: 48px; /* Ajustez selon la taille souhaitée de vos logos */
}

#home-nav a svg{
  margin-left: auto;
  margin-right: auto;
}

#home-nav a p{
  margin-top: 5px; /* Espacement entre l'image et le texte dans le lien */
  text-align: center;
}

#error_explanation{
  width: 100%;
  position: fixed;
  top: $nav-height;
}

.alert-popup{
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  min-height: 20px;
  padding: 5px;
  width:50%
}

.close{
  position: relative;
  border: none;
  background: none;
  float: right;
}

.bg-red{
  background-color: $red;
  color: white;
}

.btn{
  background-color: $red;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px
}

.logo{
  height: 150px;
}

.logo-nav{
  height: 20px;
}

.field_with_errors {
  display: flex;
  width: 100%;
  justify-content: center;
}

#footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $feu;
  font-size: 12px;
  margin-top: auto;
  padding: 15px;
}

.footer-width{
  width: calc(100vw - $sidebar-width) !important;
  margin-left: $sidebar-width;
}

#footer-info{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer-info p{
  margin-bottom: 2px;
}

#footer-info p:first-child{
  font-weight: bold;
}

#footer-info p a{
  color: white;
  font-weight: bold;
}

#footer-nav, #footer-legal, #footer-licences, {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.br-5{
  border-radius: 5px;
}

.label-type{
  border: $red 1px solid;
  border-radius: 5px;
  width: 75%;
  text-align: center;
  font-weight: bold;
}

.steel{
  background-color: $acier;
  color: black;
}

.fighting{
  background-color: $combat;
  color: white;
}

.dragon{
  background-color: $dragon;
  color: white;
}

.water{
  background-color: $eau;
  color: black;
}

.electric{
  background-color: $electrik;
  color: black;
}

.fire{
  background-color: $feu;
  color: black;
}

.fairy{
  background-color: $fee;
  color: black;
}

.ice{
  background-color: $glace;
  color: black;
}

.bug{
  background-color: $insecte;
  color: black;
}

.normal{
  background-color: $normal;
  color: black;
}

.grass{
  background-color: $plante;
  color: black;
}

.poison{
  background-color: $poison;
  color: white;
}

.psychic{
  background-color: $psy;
  color: black;
}

.rock{
  background-color: $roche;
  color: black;
}

.ground{
  background-color: $sol;
  color: black;
}

.ghost{
  background-color: $spectre;
  color: white;
}

.dark{
  background-color: $tenebres;
  color: white;
}

.flying{
  background-color: $vol;
  color: black;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deactivate-color{
  color: gray;
}