$red: rgb(244, 67, 54);
$acier: #B7B7CE;
$combat: #C22E28;
$dragon: #6F35FC;
$eau: #6390F0;
$electrik: #F7D02C;
$fee: #D685AD;
$feu: #EE8130;
$glace: #96D9D6;
$insecte: #A6B91A;
$normal: #A8A77A;
$plante: #7AC74C;
$poison: #A33EA1;
$psy: #F95587;
$roche: #B6A136;
$sol: #E2BF65;
$spectre: #735797;
$tenebres: #705746;
$vol: #A98FF3;